.bg-light
    background-color #f1f1f1 !important

.clamp-1
    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;

.clamp-2
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;

.home-layout
    .avatar 
        width 200px
        height 200px
        border-radius 50%

    .projects
        display grid
        grid-template-columns repeat(1, 1fr)
        grid-gap 0px

        @media screen and (min-width: 768px)
            grid-template-columns repeat(2, 1fr)
            grid-gap 30px

        @media screen and (min-width: 992px)
            grid-template-columns repeat(4, 1fr)
            grid-gap 30px

    .project
        background-color #ffffff
        border 1px solid #ccc
        color #000
        text-decoration none
        height 397px

        backface-visibility hidden
        z-index 1
        img 
            width: 100%

    .project:hover, .project:focus 
        color #000
        text-decoration none
        border 1px solid #ccc

    .project:hover .overlay 
        opacity 0.3
    
    // ----------

    /* moving */
    .project-move 
        transition: all 600ms ease-in-out 50ms;    

    /* appearing */
    .project-enter-active 
        transition: all 400ms ease-out;    

    /* disappearing */
    .project-leave-active 
        transition: all 200ms ease-in;
        position: absolute;
        z-index: 0;

    /* appear at / disappear to */
    .project-enter,
    .project-leave-to 
        opacity: 0;    

    // ---------


    // .proejcts-complete-enter, .proejcts-complete-leave-to
    //     opacity 0
    //     transform translateY(30px)

    // .proejcts-complete-leave-active 
    //     position absolute

    // .projects-enter-active, .projects-leave-active 
    //     transition: all 0.3s
    
    // .projects-enter, .projects-leave-to 
    //     opacity: 0
    //     transform: translateY(30px)
    
    // .projects-move 
    //     transition transform 0.3s

    // .projects-enter, .projects-leave-to
    //     opacity 0
    //     transform translateY(30px)
    
    // .projects-leave-active
    //     position absolute

    // .list-enter-active, .list-leave-active 
    //     transition: all 0.3s

    // .projects-move 
    //     transition transform 0.3s




    .overlay 
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .3s ease;
        background-color: #008CBA;
    

    