.bg-light
    background-color #f1f1f1 !important

.home-layout
    .avatar 
        width 200px
        height 200px
        border-radius 50%

    .portfolio-item
        width 22%
        height 100px
        background-color #fff
        float left

    .gutter-sizer
        width 4%